<%- include('../../layouts/header'); %>
<script src="/lib/tinymce/js/tinymce/tinymce.min.js"></script>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">sub service</li>
          <li class="breadcrumb-item active"><%= title; %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h4 class="card-title"><%= title; %></h4>
          </div>
          <div class="card-body">
            <form method="POST" data-form="true" data-url="/admin/portal/payments/add">
              <% if(is_update == true){ %>
              <input type="hidden" name="action_id" value="<%= action_data._id; %>">
              <% } %>
              <input type="hidden" name="thumbnail" id="thumbnail" value="<%= is_update ? action_data?.thumbnail : ''; %>">
              <input type="hidden" name="invoice" value="<%= is_update ? action_data?.invoice : '5435454'; %>">
              <div class="form-group">
                <div class="thumbnail-upload-section" data-input="#thumbnail" data-path="/payment" onclick="uploadThumbnail(this)" style="margin: 0 auto;">
                  <img src="<%= (is_update && action_data?.thumbnail) ? `${process.env.CDN_URL}/payment/${action_data.thumbnail}` : '/images/thumbnail.png'; %>" width="120" />
                </div>
              </div>


              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" oninput="changeSlug(this)" placeholder="Title" value="<% if(is_update == true){ %><%= action_data.title; %><% } %>" required>
              </div>
              <div class="form-group">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Transaction ID</label>
                      <input type="text" class="form-control" name="transactionId" placeholder="Transaction ID" value="<% if(is_update == true){ %><%= action_data.transactionId; %><% } %>" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>amount</label>
                      <input type="text" class="form-control" name="amount" placeholder="amount" value="<% if(is_update == true){ %><%= action_data.amount; %><% } %>" required>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Payment method</label>
                      <select class="form-control" name="paymentMethod" required>
                        <option value="">Select Payment Method</option>
                        <option value="Bank Transfer" <% if(is_update && action_data.paymentMethod === 'Bank Transfer'){ __append('selected=""') } %>>Bank Transfer</option>
                        <option value="Cash" <% if(is_update && action_data.paymentMethod === 'Cash'){ __append('selected=""') } %>>Cash</option>
                        <option value="Cheque" <% if(is_update && action_data.paymentMethod === 'Cheque'){ __append('selected=""') } %>>Cheque</option>
                        <option value="Mobile Payment" <% if(is_update && action_data.paymentMethod === 'Mobile Payment'){ __append('selected=""') } %>>Mobile Payment</option>
                        <option value="Other" <% if(is_update && action_data.paymentMethod === 'Other'){ __append('selected=""') } %>>Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Payment Date</label>
                      <input type="date" class="form-control" name="paymentDate" placeholder="Date" value="<% if (is_update && action_data.paymentDate) { %>
  <%= new Date(action_data.paymentDate).toISOString().split('T')[0] %>
<% } %>" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Note</label>
                <textarea class="form-control" id="description" rows="5" name="note" placeholder="Note" required><% if(is_update == true){ %><%= action_data.note; %><% } %></textarea>
              </div>

              <div class="form-group">
                <label>Is Active</label>
                <select class="form-control" name="isActive" required>
                  <option value="true" <% if(is_update == true){ %><% if(action_data.isActive == true){__append('selected=""')}  %><% } %>>Yes</option>
                  <option value="false" <% if(is_update == true){ %><% if(action_data.isActive == false){__append('selected=""')}  %><% } %>>No</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary"><%= title; %></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../../layouts/footer'); %>