<tr>
  <td><%= serial_number; %></td>
  <td><%= result.orderId; %></td>
  <td><%= result.shippingTime; %></td>
 
  <td>
    <% if (result.isActive) { %>
    <span class="badge badge-success">Active</span>
    <% } else { %>
    <span class="badge badge-danger">Inactive</span>
    <% } %>
  </td>
  <td><%= new Date(result.createdAt).toLocaleString(); %></td>

  <td>
    <div class="d-flex align-items-center" style="gap: 5px;">
      <a class="btn btn-success " href="/admin/portal/orders/add?id=<%= result._id.toString(); %>"><i class="fas fa-pen"></i></a>
      <button type="button" class="btn btn-danger" onclick="removeData(this, '/admin/portal/orders?id=<%= result._id; %>')"><i class="bi bi-trash"></i></button>
    <button onclick="window.open('/admin/portal/orders/invoice', '_blank', 'width=1024,height=800')">
  Open Invoice
</button>
    </div>
  </td>

</tr>