<%- include('../../layouts/header'); %>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">orders</li>
          <li class="breadcrumb-item active"><%= title; %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h4 class="card-title">Order id #<%= order.orderId; %></h4>
          </div>



          <div class="card-body">
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Name</b>
                <input type="text" class="form-control w-50 text-end" value="<%= order.user.name %>" readonly>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Phone</b>
                <input type="text" class="form-control w-50 text-end" value="<%= order.user.phone %>" readonly>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Address</b>
                <input type="text" class="form-control w-50 text-end" value="<%= order.user.fullAddress %>" readonly>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Shipping Time</b>
                <input type="text" class="form-control w-50 text-end" value="<%= order.shippingTime %>" readonly>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Delivery</b>
                <input type="text" class="form-control w-50 text-end" value="<%= order.delivery %>" readonly>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Promo Offer Price</b>
                <input type="text" class="form-control w-50 text-end" value="<%= order.promoOfferPrice %>" readonly>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Subtotal</b>
                <input type="text" class="form-control w-50 text-end" value="<%= order.subtotal %>" readonly>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Total</b>
                <input type="text" class="form-control w-50 text-end" value="<%= order.total %>" readonly>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h4 class="card-title"><%= title; %></h4>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Item</th>
                  <th>Service</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <% order.products.forEach(product => { %>
                <tr data-product-id="<%= product._id; %>">
                  <td>

                    <select class="form-control" name="product" onchange="initUpdatePrices()" required="">
                      <% allproducts.forEach(prod => { %>
                        <option value="<%= prod.id %>" data-price-washAndIron="<%= prod.price.washAndIron %>" data-price-drycleaning="<%= prod.price.drycleaning %>" data-price-iron="<%= prod.price.iron %>" data-price-StainSpotRemoval="<%= prod.price.StainSpotRemoval %>" <%= prod.id === product.productId ? "selected" : "" %>><%= prod.title %></option>
                      <% }); %>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" name="service" onchange="initUpdatePrices()" required="">
                      <option value="washAndIron" <%= product.services[0].service === "washAndIron" ? "selected" : "" %>>Wash And Iron</option>
                      <option value="drycleaning" <%= product.services[0].service === "drycleaning" ? "selected" : "" %>>drycleaning</option>
                      <option value="iron" <%= product.services[0].service === "iron" ? "selected" : "" %>>iron</option>
                      <option value="StainSpotRemoval" <%= product.services[0].service === "StainSpotRemoval" ? "selected" : "" %>>StainSpotRemoval</option>
                    </select>
                  </td>
                  <td>
                    <input type="number" class="form-control" onchange="initUpdatePrices()" id="item-quantity" value="<%= product.quantity %>" min="1">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="item-price" readonly>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="item-subtotal" readonly>
                  </td>
                </tr>
                   <% }); %>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../../layouts/footer'); %>

<script>
  function initUpdatePrices() {
    const orderItems = document.querySelectorAll('tr[data-product-id]');

    for(let oItem of orderItems){
      const selectedItem = oItem.querySelector('select[name="product"]');
      const selectedService = oItem.querySelector('select[name="service"]');
      const quantity = Number(oItem.querySelector('#item-quantity').value);

      const selectedItemOption = selectedItem.options[selectedItem.selectedIndex];
      const selectedServiceOption = selectedService.options[selectedService.selectedIndex];

      const price = selectedItemOption.getAttribute(`data-price-${selectedServiceOption.value}`);

      oItem.querySelector('#item-price').value = price;
      oItem.querySelector('#item-subtotal').value = price * quantity;
    }
  }
  initUpdatePrices();
</script>