<tr>
  <td><%= serial_number; %></td>
  <td><%= result.invoice; %></td>
  <td>৳ <%= result.amount; %></td>
  <td><%= result.paymentMethod; %></td>
  <td><%= result.transactionId; %></td>
  <td><%= result.paymentDate; %></td>

  <td>
    <div class="d-flex align-items-center" style="gap: 5px;">
      <a class="btn btn-success " href="/admin/portal/payments/add?id=<%= result._id.toString(); %>"><i class="fas fa-pen"></i></a>
      <button type="button" class="btn btn-danger" onclick="removeData(this, '/admin/portal/payments?id=<%= result._id; %>')"><i class="bi bi-trash"></i></button>
    </div>
  </td>

</tr>