<tr>
  <td><%= serial_number; %></td>
  <td><%= result.orderId; %></td>
  <td>Vendor Dispatched</td>


  <td><%= new Date(result.updatedAt).toLocaleString(); %></td>

  <td>
    <div class="d-flex align-items-center" style="gap: 5px;">
      <a class="btn btn-success " href="/admin/portal/vendors/add?id=<%= result._id.toString(); %>"><i class="fas fa-pen"></i></a>
       <button class="btn btn-success" onclick="window.open('/admin/portal/orders/orderdetail?id=<%= result._id.toString(); %>', '_blank', 'width=1024,height=800')">
      <i class="fa-solid fa-eye"></i>
      </button>
    </div>
  </td>

</tr>